.chapter{
width:700px;
max-width:90%;

```
background:white;

padding:60px;

text-align:center;

border-radius:20px;

box-shadow:0 0 40px rgba(255,105,180,0.5);

margin:80px auto;

color:#8b004f;
```

}

.chapter h1{
color:#ff1493;
font-size:60px;
}

.chapter h2{
color:#c71585;
font-size:40px;
}

.chapter p{
color:#8b004f;
font-size:22px;
line-height:1.8;
}
