.chapter{
    width:70%;
    max-width:700px;

    margin:80px auto;

    background:white;

    padding:60px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 0 20px rgba(255,105,180,0.3);
}

.chapter h1{
    color:#ff1493;
    font-size:60px;
}

.chapter h2{
    color:#c71585;
    font-size:40px;
}

.chapter p{
    color:#8b004f;
    font-size:22px;
    line-height:1.8;
}
